<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtechglobal.androidcarmanager">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Statistics.SearchDetails"></activity>
        <activity android:name=".ViewImage"   android:parentActivityName=".Capture.Gallery"/>
        <activity android:name=".Capture.Gallery"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".Vehicles.AddVehicle" android:parentActivityName=".Vehicles.Vehicles"/>
        <activity android:name=".Vehicles.Vehicles"  android:parentActivityName=".MainActivity"/>
        <activity android:name=".UserManagement.Profile"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".add.AddReminders"  android:parentActivityName=".add.Reminder"/>
        <activity android:name=".add.AddNotes"  android:parentActivityName=".add.Notes" />
        <activity android:name=".add.Reminder"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".add.Notes"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".Compute.Compute"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".Statistics.Search"  android:parentActivityName=".Statistics.Statistics"/>
        <activity android:name=".Statistics.Statistics"   android:parentActivityName=".MainActivity"/>
        <activity android:name=".Capture.Capture"  android:parentActivityName=".Capture.Gallery"/>
        <activity android:name=".Expenses.AddExpenses" android:parentActivityName=".MainActivity"/>
        <activity android:name=".UserManagement.Forgotpassword" />
        <activity android:name=".UserManagement.Signup" />
        <activity android:name=".UserManagement.Signin" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" /> <!-- setting reminder -->
        <receiver android:name=".add.ReminderBroadcast" />
    </application>

</manifest>