<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtechglobal.androidcarmanager">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Vehicles.AddVehicle"></activity>
        <activity android:name=".Vehicles.Vehicles" />
        <activity android:name=".UserManagement.Profile" />
        <activity android:name=".add.Reminders" />
        <activity android:name=".add.Notes" />
        <activity android:name=".add.AddReminder" />
        <activity android:name=".add.AddNotes" />
        <activity android:name=".compute.Compute" />
        <activity android:name=".Search" />
        <activity android:name=".statistics.Statistics" />
        <activity android:name=".capture.Capture" />
        <activity android:name=".Expenses.AddExpenses" />
        <activity android:name=".UserManagement.Forgotpassword" />
        <activity android:name=".UserManagement.Signup" />
        <activity android:name=".UserManagement.Signin" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>