<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.softtechglobal.androidcarmanager">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".capture.ViewImage"></activity>
        <activity android:name=".capture.Gallery" />
        <activity android:name=".Vehicles.AddVehicle" />
        <activity android:name=".Vehicles.Vehicles" />
        <activity android:name=".UserManagement.Profile" />
        <activity android:name=".add.AddReminders" />
        <activity android:name=".add.AddNotes" />
        <activity android:name=".add.Reminder" />
        <activity android:name=".add.Notes" />
        <activity android:name=".compute.Compute" />
        <activity android:name=".Statistics.Search" />
        <activity android:name=".Statistics.Statistics" />
        <activity android:name=".capture.Capture" />
        <activity android:name=".Expenses.AddExpenses" />
        <activity android:name=".UserManagement.Forgotpassword" />
        <activity android:name=".UserManagement.Signup" />
        <activity android:name=".UserManagement.Signin" />
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" /> <!-- setting reminder -->
        <receiver android:name=".add.AlarmReceiver" />
    </application>

</manifest>